/************* MOBILE STYLES *************/
body{
	font-family: 'Russo One', sans-serif;
}

li {
	font-family: 'Press Start 2P', cursive;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0px;
}

.navbar-brand {
	padding: 0em; 
	padding-left: 1em;
}

.navbar-brand img{
	height: 3em; 
	width: 3em;
}

.nav>li {
	text-align: center;
	border-bottom: 1px solid #9d9d9d;  
}

.dropdown-menu>li {
	text-align: center;
}

.dropdown-menu>li a:hover{
	background-color: black;
	color: white;
}

.navbar-right>li {
	float: right;
	margin-right: 11%;
	border-bottom: none;  
}

.help-block {
	color: #a94442;
}

img.resize {
	width: 100%; /* you can use % */
	height: auto;
	margin-bottom: 10px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
	margin-bottom: 5px;
}

.video-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}


/************* TABLET STYLES *************/
@media (min-width: 768px) {
.nav>li {
	text-align: none;
	border-bottom: none;  
}
.navbar-right>li {
	float: right!important;
	margin-right: 0%;
}

}


/************* DESKTOP STYLES *************/
@media (min-width: 940px) {

}