/************* MOBILE STYLES *************/
body{
	font-family: 'Russo One', sans-serif;
}

li {
	font-family: 'Press Start 2P', cursive;
}

.navbar-brand {
	padding: 0em; 
	padding-left: 1em;
}

.navbar-brand img{
	height: 3em; 
	width: 3em;
}

.nav>li {
	text-align: center;
	border-bottom: 1px solid #9d9d9d;  
}

.navbar-right>li {
	float: right;
	margin-right: 11%;
	border-bottom: none;  
}


/************* TABLET STYLES *************/
@media (min-width: 768px) {
.nav>li {
	text-align: none;
	border-bottom: none;  
}
.navbar-right>li {
	float: right!important;
	margin-right: 0%;
}

}


/************* DESKTOP STYLES *************/
@media (min-width: 940px) {

}